.landing {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;

    .landing-logo {
        font-size: 250px;
        margin: calc(50vh - 250px) auto 0 auto;
    }

    .landing-title {
        text-align: center;
        margin: 20px 0 50px;
    }

    .proceed-btn {
        position: absolute;
        bottom: 30px;
    }

    .app-prelude {
        position: absolute;
        height: 100%;
        width: 100%;
        font-size: 20px;
        text-align: justify;
        padding: 30px;
        line-height: 2.4;
        background: white;
        transform: translateY(100%);
        transition: all linear 0.5s;
        overflow: auto;

        &.fade-in {
            transform: translateY(0);
        }
    }
}
