.contanct-info {
    .contact-avatar {
        position: absolute;

        &.ios {
            top: 22px;
            right: 22px;
        }

        &.md {
            top: 16px;
            right: 16px;
        }
    }

    ion-item {
        &.no-padding {
            --padding-start: 0px;
        }
    }
}
