.get-informed {
    .info-card-img {
        height: 220px;
        overflow: hidden;
    }

    .icon-col {
        text-align: center;

        ion-icon {
            margin-top: 25%;
        }
    }
}
